input {
    margin: auto;
    display: block;
    margin-top: 3.5rem;
    width: 15rem;
    height: 2rem;
}

button {
    margin: auto;
    display: block;
    margin-top: 2rem;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Lexend Giga', sans-serif;
    color: var(--glow-magenta);
}