.input-style {
    margin: auto;
    display: block;
    margin-top: 3.5rem;
    width: 15rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.button-style {
    margin: auto;
    display: block;
    margin-top: 2rem;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Lexend Giga', sans-serif;
    color: var(--glow-magenta);
}

.link {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.box {
    width: 25rem;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    border: 1px solid var(--glow-magenta);
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
}