input {
    margin: auto;
    display: block;
    margin-top: 3.5rem;
    width: 15rem;
    height: 2rem;
}

.button-style {
    margin: auto;
    display: block;
    margin-top: 2rem;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Lexend Giga', sans-serif;
    color: var(--glow-magenta);
}

a {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}